@import '_theme.scss';

.games-list {
    list-style: none;

    li {
        float: left;
        width: 200px;
        height: 200px;
        margin: 10px;

        .panel {
            height: 100%;

            .panel-info {
                height: calc( 100% - 30px - 50px );
            }

            .panel-info .panel-info-ranking .rank-item {
                display: inline-block;
            }

            .panel-info .panel-info-ranking img {
                height: 60px;
                vertical-align: top;
                margin-top: 16px;
                margin-left: -10px;
            }

            .panel-info .panel-info-ranking .img-left {
                transform: scale(-1, 1);
                margin-left: 18px;
                margin-right: -10px;
            }

            .panel-info .panel-info-ranking .rank {
                font-size: 4em;
                color: $dark-green;
            }

            .panel-info .panel-info-ranking .participants {
                color: $light-green;
                vertical-align: top;
                margin-top: 16px;
            }

            .panel-info .panel-game-name {
                font-family: $header-font;
                color: $header-color;
                font-weight: 700;
                font-size: 1.6em;
                text-align: center;
                margin-top: 5px;
            }
        }

        .game-panel {
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
            border: 0;

            @include green-gradient();
        }

        .game-panel:hover {
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.55);
            cursor: pointer;
        }

        .panel-statistic {
            height: 50px;
            text-align: center;
            white-space: nowrap;

            .panel-statistic-item {
                display: inline-block;
                padding: 5px;
            }

            .panel-statistic-value {
                font-weight: bold;
                font-size: 1.15em;
                color: rgb(95, 122, 66);
            }

            .panel-statistic-type {
                font-size: 0.86em;
                color: rgb(174, 174, 174);
            }

            .panel-statistic-item .red-item {
                color: #aa0d0d;
            }
        }

        .panel-statistic:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }

        .panel-statistic-inner {
            display: inline-block;
        }

        .panel-creator {
            height: 30px;
            padding: 5px;
            text-align: center;
            white-space: nowrap;

            div {
                display: inline-block;
            }

            .creator {
                color: #73a044;
            }

            .panel-edit-button {
                margin-left: 5px;
            }
        }

        .panel-creator:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }

        .panel-statistic, .panel-creator {
            background-color: #e6e6e6;
        }
    }
}
