body {
    background-color: #ECECEC;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root-container {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 0;
}

#body {
    padding-bottom: 2.5em; /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em; /* Height of the footer */
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.24);
}

#footer .container {
    margin-bottom: auto;
    margin-top: auto;
}

.header-logo {
    background: url(../images/tipexpert_v4_2_white.png) no-repeat;
    background-size: 130px;
    width: 160px;
    height: 25px;
}

.navbar-inverse {
    border-color: #080808;
    background-image: inherit;
    border-radius: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.alert-container {
    position: absolute;
    top: 64px;
    left: 50%;
}

.inner-alert-container {
    position: relative;
    left: -50%;
}

.alert {
    margin-bottom: 0;
}

.footer-navbar {
    min-height: 60px;
    background: #8cbe39;
    border-top: 5px #52646E solid;
}

.footer-content-left {
    color: #FFFFFF;
    margin: 5px 10px 0 0;
}

.footer-content-right {
    color: #FFFFFF;
    margin: 5px 0 0 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}


.modal-dialog {
    width: auto;
    margin: 20px;
}

.modal-description {
    margin-bottom: 30px;
}

.buttonbar-offset {
    margin-top: 80px;
}
