<div id="edit-game-container" class="container-fluid">

    <div id="edit-game-headline" class="col-sm-offset-0">
        <h2>{{game.title}}</h2>
    </div>

    <div id="edit-game-left-side" class="col-sm-2">
        <div class="row" id="edit-section-list">
            <ul>
                <li ng-click="selectedTab = 1" ng-class="selectedTab == 1 ? 'selected' : null"><div translate="GAME-GENERAL"></div></li>
                <li ng-click="selectedTab = 2" ng-class="selectedTab == 2 ? 'selected' : null"><div translate="GAME-MATCH"></div></li>
                <li ng-click="selectedTab = 3" ng-class="selectedTab == 3 ? 'selected' : null"><div translate="GAME-PLAYERS">></div></li>
            </ul>
        </div>

        <!-- BUTTONS -->
        <div class="row edit-game-buttons">
            <button ng-click="save()" class="btn btn">Save</button>

            <div><a href="#" ng-click="cancel()" class="">Back</a></div>
            <div><a href="#" ng-click="delete()" class="">Delete</a></div>
        </div>
    </div>
    
    <div id="edit-game-right-side" class="col-sm-10"> 

<!--    <div class="">-->
        <div id="edit-game-content">
            <form role="form" name="submitForm" class="form-horizontal" novalidate>

                <!-- GENERAL -->
                <div class="container row" ng-show="selectedTab == 1">
                    <div class="section-header">
                        <span class="head" translate="GAME-GENERAL"></span>
                        <span class="sub" translate="GAME-GENERAL-SUB"></span>
                    </div>

                    <!-- TITLE -->
                    <div class="form-group" ng-class="{ 'has-error' : submitForm.name.$invalid && submitted }">
                        <div class="col-sm-1">
                            <label class="left control-label" translate="GAME-TITLE"></label>
                        </div>
                        <div class="col-sm-8">
                            <div class="left">
                                <input class="form-control game-title" type="text" name="title" ng-model="game.title" placeholder="Enter title of the game" required>
                                <p ng-show="submitForm.name.$invalid && submitted" class="help-block">Title is required.</p>
                            </div>
                        </div>
                    </div>

                    <!-- LOGO -->
                    <div class="form-group" ng-class="{ 'has-error' : submitForm.minStake.$invalid && submitted }">
                        <div class="col-sm-1">
                            <label class="left control-label" translate="GAME-LOGO"></label>
                        </div>
                        <div class="col-sm-8">
                            <div class="left">
                                <p>TODO</p>
                            </div>
                        </div>
                    </div>

                    <!-- STAKE -->
                    <div class="form-group" ng-class="{ 'has-error' : submitForm.minStake.$invalid && submitted }">
                        <div class="col-sm-1">
                            <label class="left control-label" translate="GAME-STAKE"></label>
                        </div>
                        <div class="col-sm-8">
                            <div class="left">
                                <input class="form-control game-min-stake" type="text" name="minStake" ng-model="game.minStake" placeholder="Minimum stake">
                                <p ng-show="submitForm.minStake.$invalid && submitted" class="help-block">Min stake is required.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Mode -->
                    <div class="form-group" ng-class="{ 'has-error' : submitForm.minStake.$invalid && submitted }">
                        <div class="col-sm-1">
                            <label class="left control-label" translate="GAME-MODE"></label>
                        </div>
                        <div class="col-sm-8">
                            <div class="left">
                                <p>TODO</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MATCHES -->
                <div class="container row matches-container" ng-show="selectedTab == 2">

                    <div class="section-header">
                        <span class="head" translate="GAME-MATCH"></span>
                        <span class="sub" translate="GAME-MATCH-SUB"></span>
                    </div>

                    <te-match-selection-em-2016 game="game" ng-show="matchSelectionMode == 'em2016'"></te-match-selection-em-2016>
                    <te-match-selection-leagues game="game" ng-show="matchSelectionMode == 'leagues'"></te-match-selection-leagues>

                </div>

                <!-- PLAYERS -->
                <div class="container row players-container" ng-show="selectedTab == 3">

                    <div class="section-header">
                        <span class="head" translate="GAME-PLAYERS"></span>
                        <span class="sub" translate="GAME-PLAYERS-SUB"></span>
                    </div>
                    
                    <span class="input-group-btn">
                        <button ng-click="addPlayer()" class="btn">Add Player</button>
                    </span>

                    <ul>
                        <li ng-repeat="player in game.players">
                            <div>{{ player.name }}</div>
                        </li>
                    </ul>

                </div>
            </form>
        </div>
    </div>
</div>
