<div class="container">    
    <div class="row">
        <h2 translate="MYGAMES-TITLE"></h2>
        <ul class="list-group games-list">
            <li ng-repeat="game in games track by game.id">
                <div class="panel panel-default game-panel">

                    <div class="panel-info" ng-click="playGame(game)">
                        <span>{{game.title}}</span>
                    </div>

                    <div class="panel-statistic">
                        <div class="panel-statistic-inner">
                            <div class="panel-statistic-item">
                                <div class="panel-statistic-value">90%</div>
                                <div class="panel-statistic-type">completed</div>
                            </div>
                            <div class="panel-statistic-item">
                                <div class="panel-statistic-value">21</div>
                                <div class="panel-statistic-type">Points</div>
                            </div>

                            <div class="panel-statistic-item">
                                <div class="panel-statistic-value">3</div>
                                <div class="panel-statistic-type">blank bets</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-editor">
                        <span>{{ game.creator }}</span>
                        <span class="panel-edit-button" ng-show="game.creatorId == userId">
                            <a href="#" ng-click="editGame(game)">Edit</a>
                        </span>
                    </div>

                </div>
            </li>

            <li>
                <div class="panel panel-default game-panel" ng-click="createGame()">
                    <div class="panel-body" >
                       NEW GAME
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>