<div class="container">    
    <div class="row">
        <h2 translate="MYGAMES-TITLE"></h2>
        <ul class="list-group games-list">
            <li ng-repeat="game in games track by game.id">
                <div class="panel panel-default game-panel" ng-click="playGame(game)">

                    <div class="panel-info">
                        <div class="panel-info-ranking">

                            <img class="rank-item img-left" src="/images/Lorbeer.svg" onerror="this.src = '/images/Lorbeer.png'"/>

                            <div class="rank-item rank">1</div>
                            <div class="rank-item participants">/10</div>

                            <img class="rank-item" src="/images/Lorbeer.svg" onerror="this.src = '/images/Lorbeer.png'" />

                        </div>
                        <div class="panel-game-name">{{game.title}}</div>
                    </div>

                    <div class="panel-statistic">
                        <div class="panel-statistic-inner">
                            <div class="panel-statistic-item">
                                <div class="panel-statistic-value">90%</div>
                                <div class="panel-statistic-type">completed</div>
                            </div>
                            <div class="panel-statistic-item">
                                <div class="panel-statistic-value">21</div>
                                <div class="panel-statistic-type">Points</div>
                            </div>

                            <div class="panel-statistic-item">
                                <div class="panel-statistic-value red-item">3</div>
                                <div class="panel-statistic-type red-item">blank bets</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-editor">
                        <span>{{ game.creator }}</span>
                        <span class="panel-edit-button" ng-show="game.creatorId == userId">
                            <a href="#" ng-click="editGame(game); $event.stopPropagation();">Edit</a>
                        </span>
                    </div>

                </div>
            </li>

            <li>
                <div class="panel panel-default game-panel" ng-click="createGame()">
                    <div class="panel-body" >
                       NEW GAME
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>