<div class="container">    
    <div class="row">
        <h2 translate="MYGAMES-TITLE"></h2>
        <ul class="list-group games-list">
            <li ng-repeat="game in games track by game.id">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span>
                            {{game.title}}
                            <a ui-sref="games.show({ gameId: game.id })">Show</a>
                        </span>
                    </div>
                </div>
                <div>
                    <span>{{ game.creator }}</span>
                    <span ng-show="game.creatorId == userId">
                        <a href="#" ng-click="editGame(game)">Edit</a>
                    </span>
                </div>
            </li>

            <li>
                <div class="panel panel-default" ng-click="createGame()">
                    <div class="panel-body" >
                       NEW GAME
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>