<div class="container-fluid">
    <!-- Eventhough technically it would work, we do not support changing the language by design -->
    <!-- <a class="left footer-content-left" ng-click="changeLanguage('de')" translate="FOOTER-GERMAN" href=""></a>-->
    <!-- <a class="left footer-content-left" ng-click="changeLanguage('en')" translate="FOOTER-ENGLISH" href=""></a>-->

    <a class="right footer-content-right" href="" translate="FOOTER-ABOUT-US"></a>
    <a class="right footer-content-right" href="" translate="FOOTER-SUPPORT"></a>
    <a class="right footer-content-right" href="" translate="FOOTER-FAQ"></a>
    <a class="right footer-content-right" href="" translate="FOOTER-IMPRESSUM"></a>
</div>
