<div class="container-fluid home-container">

    <div class="bg"></div>

    


    <div class="home-buttons-top">
        <ul class="">
            <li class="left">
                <div class="header-logo">&nbsp;</div>
            </li>

            <li class="signup-button right"><a href="" ng-click="openSignup()" translate="HOME-SIGN-UP-BUTTON"></a></li>

            <li class="login-button right"><a href="" ng-click="openLogin()" translate="HOME-LOGIN-BUTTON"></a></li>
        </ul>
    </div>

    <div class="home-main-content">
        <p>Bet with your friend on the </p>
        <img src="/images/logo_em_2016_frankreich.png" width="300"/>
        <div class="signup-button">
            <a href="" ng-click="openSignup()" translate="HOME-SIGN-UP-BUTTON"></a>
        </div>
    </div>

<!--    <div class="home-features"></div>-->
</div>
