<div class="container-fluid home-container">

    <div class="bg"></div>

    <div class="home-top">
        <div class="home-buttons-top">
            <ul class="">
                <li class="left">
                    <div class="header-logo">&nbsp;</div>
                </li>

                <li class="signup-button right"><a href="" ng-click="openSignup()" translate="HOME-SIGN-UP-BUTTON"></a></li>

                <li class="login-button right"><a href="" ng-click="openLogin()" translate="HOME-LOGIN-BUTTON"></a></li>
            </ul>
        </div>

        <div class="home-main-content">
            <p id="home-slogan">Bet with your friend on the </p>

            <div class="image-wrapper">
                <img src="/images/Logo2016_Lnd_Full.svg" onerror="this.src = '/images/logo_em_2016_frankreich.png'"/>
            </div>

            <div class="signup-button">
                <a href="" ng-click="openSignup()" translate="HOME-SIGN-UP-BUTTON"></a>
            </div>
        </div>
    </div>

    <div class="home-bottom">
        <p>Dummy</p>
    </div>
</div>
