<div class="container">

    <div class="row">
        <h4 translate="GAME-MATCH-EM-GROUPSTAGE"></h4>
        
        <div class="col-sm-2">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.groupA"/><span translate="GAME-MATCH-EM_GROUP-A"></span></label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.groupB"/><span translate="GAME-MATCH-EM_GROUP-B"></span></label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.groupC"/><span translate="GAME-MATCH-EM_GROUP-C"></span></label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.groupD"/><span translate="GAME-MATCH-EM_GROUP-D"></span></label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.groupE"/><span translate="GAME-MATCH-EM_GROUP-E"></span></label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.groupF"/><span translate="GAME-MATCH-EM_GROUP-F"></span></label>
            </div>
        </div>
    </div>

    <div class="row match-selection-row">
        <h4 translate="GAME-MATCH-EM-KNOCKOUTSTAGE"></h4>

        <div class="col-sm-2">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.roundOfLast16"/><span translate="GAME-MATCH-EM_ROUND-OF-LAST-16"></span></label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.quaterFinal"/><span translate="GAME-MATCH-EM_QUARTER-FINAL"></span></label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.semiFinal"/><span translate="GAME-MATCH-EM_SEMI-FINAL"></span></label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="selection.final"/><span translate="GAME-MATCH-EM_FINAL"></span></label>
            </div>
        </div>
    </div>

    <div class="row match-selection-row">
        <h4>Andere Lustige Sachen*</h4>
        <p>TBD</p>
    </div>
</div>
